{{!< ../layouts/default}}

<div class="top-heading" data-page="article">
    <div class="wrap"><h1>技术博文</h1></div>
</div>

<div class="blog-content">
    <div class="wrap">
        <div class="blog-grids">
            <div class="blog-left">
                <div class="slider">
                    <div class="icon1">
                        <a href=""><span></span></a>
                    </div>
                    <div class="clear"></div>
                    <div class="sinfo article-content">
                        <div class="sinfo-right article-body">
                            <h1>{{article_title}}</h1>
                            {{{article_content}}}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <h6></h6>
                <div class="text-2">
                    <div class="icon1 icon3">
                        <a href=""><span></span></a>
                    </div>
                    <h4><a href="">评论人名字</a></h4>
                    <span>注释注释注释注释注释注释</span>
                    <p>评论评论评论评论评论评论评论，评论评论评论评论评论；评论评论评论评论评论评论评论，评论评论评论评论评论论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评。</p>
                </div>
                <div class="text-2">
                    <div class="icon1 icon3">
                        <a href=""><span></span></a>
                    </div>
                    <h4><a href="">评论人名字</a></h4>
                    <span>注释注释注释注释注释注释</span>
                    <p>评论评论评论评论评论评论评论，评论评论评论评论评论；评论评论评论评论评论评论评论，评论评论评论评论评论论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评。</p>
                </div>
                <div class="text-2">
                    <div class="icon1 icon3">
                        <a href=""><span></span></a>
                    </div>
                    <h4><a href="">评论人名字</a></h4>
                    <span>注释注释注释注释注释注释</span>
                    <p>评论评论评论评论评论评论评论，评论评论评论评论评论；评论评论评论评论评论评论评论，评论评论评论评论评论论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评。</p>
                </div>
                <div>
                    <textarea rows="6" placeholder="请输入您的评论..."></textarea> 
                </div>
            </div>
            <div class="blog-right">
                <div class="side-bar">
                    {{> nav_about}}
                    {{> nav_category}}
                    {{> nav_photo}}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script type="text/javascript">require(['page/article']);</script>
