{{!< ../layouts/default}}

<div class="top-heading" data-page="article">
    <div class="wrap"><h1>技术博文</h1></div>
</div>

<div class="blog-content">
    <div class="wrap">
        <div class="blog-grids">
            <div class="blog-left">
                <div class="article-content">
                    <h1 class="article-title">测试博文标题测试博文标题</a></h1>
                    <h6></h6>
                    <div class="article-body">
                        <div>
                            <p>车速的苏菲适度放松qwrqr13214侧问问vew为让我vewvew二恶女让我vwqfew各位各位会唔会我和我和我和我好文化文化文化，我为范围分无法仍无法违反， 违反为分仍无法为分违反去夫妻额分违反我我给望各位个我个我给我个问过问过问过。</p>
                            <p>车速的苏菲适度放松qwrqr13214侧问问vew为让我vewvew二恶女让我vwqfew各位各位会唔会我和我和我和我好文化文化文化，我为范围分无法仍无法违反， 违反为分仍无法为分违反去夫妻额分违反我我给望各位个我个我给我个问过问过问过。车速的苏菲适度放松qwrqr13214侧问问vew为让我vewvew二恶女让我vwqfew各位各位会唔会我和我和我和我好文化文化文化，我为范围分无法仍无法违反， 违反为分仍无法为分违反去夫妻额分违反我我给望各位个我个我给我个问过问过问过。车速的苏菲适度放松qwrqr13214侧问问vew为让我vewvew二恶女让我vwqfew各位各位会唔会我和我和我和我好文化文化文化，我为范围分无法仍无法违反， 违反为分仍无法为分违反去夫妻额分违反我我给望各位个我个我给我个问过问过问过。车速的苏菲适度放松qwrqr13214侧问问vew为让我vewvew二恶女让我vwqfew各位各位会唔会我和我和我和我好文化文化文化，我为范围分无法仍无法违反， 违反为分仍无法为分违反去夫妻额分违反我我给望各位个我个我给我个问过问过问过。</p>
                            <div class="code">
                                <p>
                                    <span class="keyword">var</span> now = <span class="keyword">new</span><span> Date(); </span>
                                </p>
                                <p>
                                    <span>console.log(now);</span>
                                    <span class="notes">// 输出类似 Fri Nov 20 2015 13:44:07 GMT+0800(中国标准时间)</span>
                                </p>
                            </div>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <div class="code">
                                <p>
                                    <span class="keyword">var</span> someDate = <span class="keyword">new</span><span> Date(Date.parse("May 25,2015")); </span>
                                </p>
                                <p>
                                    <span>console.log(someDate);</span>
                                    <span class="notes">// 输出类似 Mon May 25 2015 00:00:00 GMT+0800 (中国标准时间)</span>
                                </p>
                            </div>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <div class="code">
                                <p>
                                    <span>console.log(someDate);</span>
                                    <span class="notes">// 输出类似 Mon May 25 2015 00:00:00 GMT+0800 (中国标准时间)</span>
                                </p>
                                <p>
                                    <span class="keyword">var</span> someDate = <span class="keyword">new</span><span> Date(Date.parse("May 25,2015")); </span>
                                </p>
                                <p>
                                    <span>console.log(someDate);</span>
                                    <span class="notes">// IE和FF会弹出Mon Jun 01 2015 00:00:00 GMT+0800,而Chrome,Opera,Safari会弹出Invalid Date</span>
                                </p>
                            </div>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。反我我给望各位个我个我给我个问过问过问过。车速的苏。反我我给望各位个我个我给我个问过问过反我我给望各位个我个我给我个问过问过反我我给望各位个我个我给我个问过问过。</p>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>

                            <p class="seperate-line"></p>
                            <h2 class="article-title">测试的子标题车费额额谷歌</h2>

                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>车速的苏菲适度放松qwrqr13214侧问问vew为让我vewvew二恶女让我vwqfew各位各位会唔会我和我和我和我好文化文化文化，我为范围分无法仍无法违反， 违反为分仍无法为分违反去夫妻额分违反我我给望各位个我个我给我个问过问过问过。车速的苏菲适度放松qwrqr13214侧问问vew为让我vewvew二恶女让我vwqfew各位各位会唔会我和我和我和我好文化文化文化，我为范围分无法仍无法违反， 违反为分仍无法为分违反去夫妻额分违反我我给望各位个我个我给我个问过问过问过。车速的苏菲适度放松qw。</p>
                            <div class="code">
                                <p>
                                    <span>console.log(someDate);</span>
                                    <span>console.log(someDate);</span>
                                    <span>console.log(someDate);</span>
                                    <span class="notes">// 输出类似 Mon May 25 2015 00:00:00 GMT+0800 (中国标准时间)</span>
                                </p>
                                <p>
                                    <span class="keyword">var</span> someDate = <span class="keyword">new</span><span> Date(Date.parse("May 25,2015")); </span>
                                </p>
                                <p>
                                    <span>console.log(someDate);</span>
                                    <span class="notes">// IE和FF会弹出Mon Jun 01 2015 00:00:00 GMT+0800,而Chrome,Opera,Safari会弹出Invalid Date</span>
                                </p>
                            </div>
                            <p>反我我给望各位个我个我给我个问过问过问过。车速的苏。</p>
                            <p>反我我给望各位个我个我给的苏。</p>
                            <p>反我我给望各位个我个我给我个问过问速的苏。</p>
                            <table class="dictionary">
                                <tbody>
                                    <tr>
                                        <td>方法</td>
                                        <td>说明</td>
                                    </tr>
                                    <tr>
                                        <td>getTime()</td>
                                        <td>返回表示日期的毫秒数;与valueOf()方法返回的值相同</td>
                                    </tr>
                                    <tr>
                                        <td>getDate()</td>
                                        <td>返回日期月份中的天数(1~31) </td>
                                    </tr>
                                    <tr>
                                        <td>getTimezoneOffset()</td>
                                        <td>返回本地时间与UTC时间相差的分钟数.例如,美国东部标准时间返回300.在某地进入夏令时的情况下,这个值会有所变化</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-2">
                        <div class="icon1 icon3">
                            <a href=""><span></span></a>
                        </div>
                        <h4><a href="">评论人名字</a></h4>
                        <span>注释注释注释注释注释注释</span>
                        <p>评论评论评论评论评论评论评论，评论评论评论评论评论；评论评论评论评论评论评论评论，评论评论评论评论评论论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评论评。</p>
                    </div>
                </div>
                <div>
                    <textarea rows="6" placeholder="请输入您的评论..."></textarea> 
                </div>
            </div>
            <div class="blog-right">
                <div class="side-bar">
                    {{> nav_about}}
                    {{> nav_category}}
                    {{> nav_photo}}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script type="text/javascript">require(['page/article']);</script>
