{{!< ../layouts/default}}

<div class="top-heading" data-page="article">
    <div class="wrap"><h1>技术博文</h1></div>
</div>

<div class="blog-content">
    <div class="wrap">
        <div class="blog-grids">
            <div class="blog-left">
                {{#each articles}}
                <div class="slider">
                    <div class="icon1">
                        <a href=""><span></span></a>
                    </div>
                    <div class="clear"></div>
                    <div class="sinfo">
                        <div class="sinfo-right">
                            <h4><a href="/articles/art_{{article_id}}">{{article_title}}</a></h4>
                            {{{article_content}}}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                {{/each}}
                <h6></h6>
                <div class="jesus">
                    <div class="icon1">
                        <a href=""><span></span></a>
                    </div>
                    <div class="sinfo">
                        <div class="sinfo-right">
                            <h4><a href="">我的第二篇博文</a></h4>
                            <p>我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文，我的第二篇博文我的第二篇博文我的第二篇博文；我的第二篇博文我的第二篇博文我的第二篇博文，我的第二篇博文我的第二篇博文我的第二篇博文。</p>
                            <p style="padding:3px 0px">我的第二篇博文我的第二篇博文，我的第二篇博文我的第二篇博文我的第二篇博文；我的第二篇博文我的第二篇博文我的第二篇博文，我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文我的第二篇博文。</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <h6></h6>
                <div class="text-2">
                    <div class="icon1 icon3">
                        <a href=""><span></span></a>
                    </div>
                    <h4><a href="">评论人名字</a></h4>
                    <span>注释注释注释注释注释注释</span>
                    <p>论评论评论评论评论评论评论评论评论评论评论评论评评论评论评论评论评论评论评论，评论评论评论评论评论；评论评论评论评论评论评论评论，评论评论评论评论评论。</p>
                </div>
                <h6></h6>
                <div class="vedieo">
                    <div class="icon1">
                        <a href=""><span></span></a>
                    </div>
                    <div class="sinfo">
                        <div class="sinfo-right">
                            <h4><a href="">我的第三篇博文</a></h4>
                            <p>我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文，我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文；我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文。</p>
                            <p style="padding:3px 0px">我的第三篇博文我的第三篇博文；我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文，我的第三篇博文我的第三篇博文我的第三篇博文我的第三篇博文。</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <h6></h6>
                <div class="text-2">
                    <div class="icon1 icon3">
                        <a href=""><span></span></a>
                    </div>
                    <h4><a href="">评论人名字</a></h4>
                    <span>注释注释注释注释注释注释</span>
                    <p>评论评论评论评论评论评论评论，评论评论评论评论评论；评论评论评论评论评论评论评论，评论评论评论评论评论。</p>
                </div>
                <h6></h6>
            </div>
            <div class="blog-right">
                <div class="side-bar">
                    {{> nav_about}}
                    {{> nav_category}}
                    {{> nav_photo}}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        {{> page}}
    </div>
</div>

<script type="text/javascript">require(['page/article']);</script>
