<div class="commentsContainer">
    <ul id="visitorsMessage">
        正在读取数据...
    </ul>
    <p>
        <textarea id="messageContent" cols="60" rows="5"></textarea>
    </p>
    <p>
        <input id="publishMessage" type="button" value="发表" />
    </p>
</div>
