<div class="footer">
    <div class="footer-main wrap">
        <div class="footer-grids">
            <div class="fgrid">
                <h3>关于</h3>
                <p>IDAWN-SHARE博客开通于2015年末，构思设想起源于WEB前端技术而不止WEB前端技术；在这里，汇集了WEB前端技术的开发教程、资源和素材；在这里，时刻关注着WEB前端行业的趋势和杂谈；在这里，调侃着攻城狮们的酸甜苦辣。</p>
                <p>IDAWN-SHARE博客主要是参考WEB前端攻城狮们的精品而创作的，是作为查询参考型网站存在的，是面向WEB前端攻城狮的学习交流平台。</p>
            </div>
            <div class="fgrid">
                <h3>资料参考</h3>
                <div>
                    <p>菜鸟教程（http://www.runoob.com/）--提供了最全的Web基础编程技术。</p>
                    <a href="http://www.runoob.com/" target="_blank">现在去学习</a>
                </div>
                <div>
                    <p>jQuery框架（http://jquery.com/）--一个最通用的Web前端的JS框架。</p>
                    <a href="http://jquery.com/" target="_blank">现在去学习</a>
                </div>
                <div>
                    <p>更多的学习资料 <a href="/ext/list" target="_blank">现在去学习</a></p>
                </div>
            </div>
            <div class="fgrid">
                <h3>联系我</h3>
                <p>我是IDAWN，一个水平不高不低，不上不下的WEB前端开发攻城狮，有着多年的前端开发经验；但是资质水平有限，一直处于行业的底层中努力拼搏；因此，如果有什么建议或者问题，请及时联系我：</p>
                <a href="{{email}}" target="_blank"><p>{{email}}</p></a>
                <div class="bdsharebuttonbox social-media">
                    <ul>
                        <li>
                            <span class="simptip-position-bottom simptip-movable" data-tooltip="分享到QQ空间">
                                <a href="#" class="bds_qzone" data-cmd="qzone" target="_blank"></a>
                            </span>
                        </li>
                        <li>
                            <span class="simptip-position-bottom simptip-movable" data-tooltip="分享到新浪微博">
                                <a href="#" class="bds_tsina" data-cmd="tsina" target="_blank"></a>
                            </span>
                        </li>
                        <li>
                            <span class="simptip-position-bottom simptip-movable" data-tooltip="分享到腾讯微博">
                                <a href="#" class="bds_tqq" data-cmd="tqq" target="_blank"></a>
                            </span>
                        </li>
                        <li>
                            <span class="simptip-position-bottom simptip-movable" data-tooltip="分享到人人网">
                                <a href="#" class="bds_renren" data-cmd="renren" target="_blank"></a>
                            </span>
                        </li>
                        <li>
                            <span class="simptip-position-bottom simptip-movable" data-tooltip="分享到微信">
                                <a href="#" class="bds_weixin" data-cmd="weixin" target="_blank"></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="copy-right">
    <div class="wrap">
        <div class="copy-right-left">
            <p>Copyright &copy; 2015 idawn.co All rights reserved.</p>
        </div>
    </div>
</div>
