<div class="wrap">
    <div class="header">
        <div class="logo">  
            <a href="/"><h1>{{title}}<span>-{{subtitle}}</span></h1></a>
        </div>
        <div class="menu">
            <a class="toggle-menu" href="javascript:void(0);"><img src="/assert/images/nav.png" alt="navigator"></a>
            <ul class="nav">
                <li data-role="home" class="active"><a href="/">首页</a></li>
                <li data-role="article"><a href="/articles">我的博文</a></li>
                <li data-role="photo"><a href="/photo">我的画廊</a></li>
                {{!-- <li data-role="about"><a href="/about">关于我</a></li> --}}
                <li data-role="twitter"><a href="/ext/twitter">我的吐槽</a></li>
                <li data-role="contact"><a href="/contact">联系我</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
