<div class="grid-right-headings">
    <h2><a href="" onclick='return false;'>格言</a></h2>
    <h6></h6>
    <div class="clear"></div>
</div>
<!--<p style="padding:0px;">程序猿最烦两件事，第一件事是别人要他给自己的代码写文档，第二件呢？是别人的程序没有留下文档。</p>-->
<p style="padding:0px;">Web前端开发是兼具艺术气息和逻辑思维的综合体，既要考虑页面的美感和操作体验，又要关注前端代码的质量。</p>
