<div class="grid-right-headings">
    <h2><a href="">分类</a></h2>
    <h6></h6>
    <div class="clear"></div>
</div>
<div class="seach-links">
    {{#each articles_types}}
    <p><a href="/articles/tp_{{type_id}}">{{type_title}}</a></p>
    {{/each}}
</div>
