{{!< ../layouts/default}}

<div class="top-heading" data-page="about">
    <div class="wrap"><h1>学习列表</h1></div>
</div>

<div class="wrap">
    <div class="content">
        <div class="main-grid">
            <div class="grid-left">
            </div>
            <div class="blog-right">
                <div class="side-bar">
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>  
</div>
