{{!< ../layouts/ext_default}}

<style type="text/css">
    .question .title {
        padding: 10px 0; 
    }
    .question .options {}
    .question .options li {
        margin: 0 0 10px 10px;
        color: #525252;
        font-size: 0.85em;
        font-weight: 400;
    }
    .question .options li label {
        display: inline-block;
        width: 100%;
        height: 20px;
    }
    .question .options li input {
        margin-right: 10px
    }
    .question .answer {
        display: none;
    }
    .question .answer.ok {
        display: block;
        color: #089e36;
    }
    .question .answer.error {
        display: block;
        color: #aa0518;
    }
</style>

<div class="top-heading" data-page="others">
    <div class="wrap"><h1>PMP 每日一题</h1></div>
</div>

<div class="wrap">
    <div class="content">
        <div id="questions" class="main-grid" data-questions="{{questions}}">
            <pmp-question
                v-for="question in questions"
                :question="question"
                :index="$index">
            </pmp-question>
        </div>
    </div>  
</div>
<script type="text/javascript" src="/js/lib/vue.min.js"></script>
<script type="text/javascript">
    // 定义
    var PMPQuestion = Vue.extend({
        template: '<div class="question">' +
            '<p class="title"><i><% index + 1 %>. </i><% question.title %></p>' +
            '<ul class="options">' +
            '<li v-for="option in question.options">' +
            '<label><input type="radio" name="<% name %>" value="<% option.value %>" v-on:click="selectItem($event)"><% option.text %></label>' +
            '</li>' +
            '</ul>' +
            '<p class="answer" v-bind:class="{\'ok\': isOK, \'error\': isError }">答案：<% question.answer %>；<% question.note %></p>' +
            '</div>',
        props: ['question', 'index'],
        data: function () {
            return {
                isOK: false,
                isError: false
            };
        },
        methods: {
            selectItem: function (event) {
                this.isOK = (this.question.answer == event.target.value);
                this.isError = (this.question.answer != event.target.value);
            }
        },
        computed: {
            name: function () {
                return "question_" + (this.index + 1);
            }
        }
    });

    // 注册
    Vue.component('pmp-question', PMPQuestion)

    Vue.config.delimiters = ['<%', '%>']
    // 创建根实例
    new Vue({
        el: '#questions',
        data: {
            questions: eval('(' + document.getElementById("questions").getAttribute("data-questions") + ')')
        }
    })
</script>



